[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
mypy = "*"
black = ""
coverage = "*"
pytest = "*"
flake8 = "*"
twine = "*"
importlib-metadata = "*"
setuptools = "*"

[packages]
numpy = "==1.21.0"
matplotlib = "==3.2.1"
pandas = "==1.0.3"
python-dateutil = "==2.8.1"
pycld2 = "==0.41"
polyglot = "==16.7.4"
pytest-notebook = "==0.6.0"
PrettyTable = "==0.7.2"
PyICU = "==2.5"
Morfessor = "==2.0.6"
PyYAML = "==5.3.1"
fire = "*"
pytz = "*"
pipenv-shebang = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
lint = "make lint"
test = "make test"
publish = "pipenv run python setup.py sdist bdist bdist_wheel; pipenv run twine upload dist/*"
